$background: #3f7795;
$lfs-purple: #6000fad0;
$lfs-grey: #75787b;

.maincontainer-billform {

  h2 {
    margin-top: 30px;
    text-align: center;
  }

  .table-latitude {
    width: 60%;
    margin-left: auto;
    margin-right: auto;

    caption {
        text-transform: uppercase;
        font-weight: bold;
        color: $lfs-purple;
        padding: 10px;
        text-align: center;
        font-size: 30px;
        border: 1px solid #3974a3;
        margin-top: 30px;
    }
    thead {
        border-top: 2px solid $lfs-purple;
        border-bottom: 2px solid $lfs-purple;
        th {
            text-transform: uppercase;
            text-align: center;
            color: #F1F1F1;
            background-color: #006ac6;
            padding: 10px;
            border: 1px solid #3974a3;
        }
    }
    tbody {
        tr {
            border-bottom: 1px solid #F1F1F1;
            color: $lfs-grey;
            td {
                padding: 5px;
                border: 1px solid #1f4a5b;
                text-align: center;
            }
            th {
              padding-left: 10px;
              border: 1px solid #F1F1F1;
          }
        }
    }
}

form {
    // margin-top: 30px;
    text-align: center;
    input[type=number] {
        width: 20%;
        padding: 10px 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        border: 1px solid #3974a3;
        border-radius: 4px;
        box-sizing: border-box;
    }
    button{
        margin-top: 30px;
        text-align: center;
        width: 20%;
        margin: auto;
        align-items: center
    }
    button:hover {
        color:#F1F1F1;
        background-color: #6000fad0;
      }
}
}