.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e6e6e6;

    .display-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        li {
            margin-left: 20px;

            button {
                border: none;
                display: flex;
                align-items: center;
                &:hover {
                    background-color: white;
                    color: blue;
                }
            }

            a {
                display: flex;
                align-items: center;
                
                svg {
                    margin-right: 5px;
                }
                
            }
        }
    }
}